<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift_Diary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5FB3A5B1DC86BC700A81173</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5FB3A6F1DC86BC700A81173</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5FB3A7A1DC86BC700A81173</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
