<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>emotion\emotion.cry.gif</key>
	<string>伤心.gif</string>
	<key>emotion\emotion.smile.gif</key>
	<string>你好.gif</string>
	<key>emotion\feedback.think.png</key>
	<string>值得思考.png</string>
	<key>emotion\emotion.goodbye.gif</key>
	<string>再见.gif</string>
	<key>emotion\rose.down.png</key>
	<string>凋谢.png</string>
	<key>emotion\feedback.against.gif</key>
	<string>反对.gif</string>
	<key>emotion\feedback.agreed.png</key>
	<string>赞同.png</string>
	<key>emotion\feedback.quickly.png</key>
	<string>太快了.png</string>
	<key>emotion\feedback.slowly.png</key>
	<string>太慢了.png</string>
	<key>emotion\emotion.angerly.gif</key>
	<string>愤怒.gif</string>
	<key>emotion\emotion.nod.gif</key>
	<string>无聊.gif</string>
	<key>emotion\emotion.lh.gif</key>
	<string>流汗.gif</string>
	<key>emotion\emotion.question.gif</key>
	<string>疑问.gif</string>
	<key>emotion\chat.gift.png</key>
	<string>礼物.png</string>
	<key>emotion\emotion.bs.gif</key>
	<string>鄙视.gif</string>
	<key>emotion\emotion.laugh.gif</key>
	<string>高兴.gif</string>
	<key>emotion\rose.up.png</key>
	<string>鲜花.png</string>
	<key>emotion\feedback.applaud.png</key>
	<string>鼓掌.png</string>
	<key>emotion\emotion.gz.gif</key>
	<string>热烈鼓掌.gif</string>
	<key>emotion\emotion.hx.gif</key>
	<string>害羞.gif</string>
	<key>emotion\emotion.jk.gif</key>
	<string>惊恐.gif</string>
	<key>emotion\emotion.jy.gif</key>
	<string>惊讶.gif</string>
	<key>emotion\emotion.kb.gif</key>
	<string>抠鼻.gif</string>
	<key>emotion\emotion.kl.gif</key>
	<string>可怜.gif</string>
	<key>emotion\emotion.ll.gif</key>
	<string>流泪.gif</string>
	<key>emotion\emotion.qd.gif</key>
	<string>敲打.gif</string>
	<key>emotion\emotion.qh.gif</key>
	<string>强悍.gif</string>
	<key>emotion\emotion.qq.gif</key>
	<string>亲亲.gif</string>
	<key>emotion\emotion.rb.gif</key>
	<string>弱爆.gif</string>
	<key>emotion\emotion.se.gif</key>
	<string>色.gif</string>
	<key>emotion\emotion.tx.gif</key>
	<string>偷笑.gif</string>
	<key>emotion\emotion.xu.gif</key>
	<string>嘘.gif</string>
	<key>emotion\emotion.yun.gif</key>
	<string>晕.gif</string>
	<key>emotion\emotion.gg.gif</key>
	<string>尴尬.gif</string>
	<key>emotion\emotion.fd.gif</key>
	<string>奋斗.gif</string>
	<key>emotion\emotion.bz.gif</key>
	<string>闭嘴.gif</string>
</dict>
</plist>
