<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>【伤心】</key>
	<string>emotion\emotion.cry.gif</string>
	<key>【你好】</key>
	<string>emotion\emotion.smile.gif</string>
	<key>【值得思考】</key>
	<string>emotion\feedback.think.png</string>
	<key>【再见】</key>
	<string>emotion\emotion.goodbye.gif</string>
	<key>【凋谢】</key>
	<string>emotion\rose.down.png</string>
	<key>【反对】</key>
	<string>emotion\feedback.against.gif</string>
	<key>【太快了】</key>
	<string>emotion\feedback.quickly.png</string>
	<key>【太慢了】</key>
	<string>emotion\feedback.slowly.png</string>
	<key>【愤怒】</key>
	<string>emotion\emotion.angerly.gif</string>
	<key>【无聊】</key>
	<string>emotion\emotion.nod.gif</string>
	<key>【流汗】</key>
	<string>emotion\emotion.lh.gif</string>
	<key>【疑问】</key>
	<string>emotion\emotion.question.gif</string>
	<key>【礼物】</key>
	<string>emotion\chat.gift.png</string>
	<key>【鄙视】</key>
	<string>emotion\emotion.bs.gif</string>
	<key>【高兴】</key>
	<string>emotion\emotion.laugh.gif</string>
	<key>【鲜花】</key>
	<string>emotion\rose.up.png</string>
	<key>【鼓掌】</key>
	<string>emotion\feedback.applaud.png</string>
	<key>【赞同】</key>
	<string>emotion\feedback.agreed.png</string>
	<key>【闭嘴】</key>
	<string>emotion\emotion.bz.gif</string>
	<key>【奋斗】</key>
	<string>emotion\emotion.fd.gif</string>
	<key>【尴尬】</key>
	<string>emotion\emotion.gg.gif</string>
	<key>【热烈鼓掌】</key>
	<string>emotion\emotion.gz.gif</string>
	<key>【害羞】</key>
	<string>emotion\emotion.hx.gif</string>
	<key>【惊恐】</key>
	<string>emotion\emotion.jk.gif</string>
	<key>【惊讶】</key>
	<string>emotion\emotion.jy.gif</string>
	<key>【抠鼻】</key>
	<string>emotion\emotion.kb.gif</string>
	<key>【可怜】</key>
	<string>emotion\emotion.kl.gif</string>
	<key>【流泪】</key>
	<string>emotion\emotion.ll.gif</string>
	<key>【敲打】</key>
	<string>emotion\emotion.qd.gif</string>
	<key>【强悍】</key>
	<string>emotion\emotion.qh.gif</string>
	<key>【亲亲】</key>
	<string>emotion\emotion.qq.gif</string>
	<key>【弱爆】</key>
	<string>emotion\emotion.rb.gif</string>
	<key>【色】</key>
	<string>emotion\emotion.se.gif</string>
	<key>【偷笑】</key>
	<string>emotion\emotion.tx.gif</string>
	<key>【嘘】</key>
	<string>emotion\emotion.xu.gif</string>
	<key>【晕】</key>
	<string>emotion\emotion.yun.gif</string>
</dict>
</plist>
