<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>【伤心】</key>
	<string>伤心.gif</string>
	<key>【你好】</key>
	<string>你好.gif</string>
	<key>【值得思考】</key>
	<string>值得思考.png</string>
	<key>【再见】</key>
	<string>再见.gif</string>
	<key>【凋谢】</key>
	<string>凋谢.png</string>
	<key>【反对】</key>
	<string>反对.gif</string>
	<key>【赞同】</key>
	<string>赞同.png</string>
	<key>【太快了】</key>
	<string>太快了.png</string>
	<key>【太慢了】</key>
	<string>太慢了.png</string>
	<key>【愤怒】</key>
	<string>愤怒.gif</string>
	<key>【无聊】</key>
	<string>无聊.gif</string>
	<key>【流汗】</key>
	<string>流汗.gif</string>
	<key>【疑问】</key>
	<string>疑问.gif</string>
	<key>【礼物】</key>
	<string>礼物.png</string>
	<key>【鄙视】</key>
	<string>鄙视.gif</string>
	<key>【高兴】</key>
	<string>高兴.gif</string>
	<key>【鲜花】</key>
	<string>鲜花.png</string>
	<key>【鼓掌】</key>
	<string>鼓掌.png</string>
	<key>【闭嘴】</key>
	<string>闭嘴.gif</string>
	<key>【奋斗】</key>
	<string>奋斗.gif</string>
	<key>【尴尬】</key>
	<string>尴尬.gif</string>
	<key>【热烈鼓掌】</key>
	<string>热烈鼓掌.gif</string>
	<key>【害羞】</key>
	<string>害羞.gif</string>
	<key>【惊恐】</key>
	<string>惊恐.gif</string>
	<key>【惊讶】</key>
	<string>惊讶.gif</string>
	<key>【抠鼻】</key>
	<string>抠鼻.gif</string>
	<key>【可怜】</key>
	<string>可怜.gif</string>
	<key>【流泪】</key>
	<string>流泪.gif</string>
	<key>【敲打】</key>
	<string>敲打.gif</string>
	<key>【强悍】</key>
	<string>强悍.gif</string>
	<key>【亲亲】</key>
	<string>亲亲.gif</string>
	<key>【弱爆】</key>
	<string>弱爆.gif</string>
	<key>【色】</key>
	<string>色.gif</string>
	<key>【偷笑】</key>
	<string>偷笑.gif</string>
	<key>【嘘】</key>
	<string>嘘.gif</string>
	<key>【晕】</key>
	<string>晕.gif</string>
</dict>
</plist>
